body {
   display: flex;
   flex-direction: column;
   height: 100%;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.4;
   color: $dark-500;
   @extend %OpenSans-400;
}

.main {
   flex: 1 1 auto;
}

.logo {
   display: inline-block;
}

.container {
   max-width: 1320px;
   margin: 0 auto;
   padding: 0 15px;
}

.btn {
   background-color: transparent;
   padding: 0;
   border: none;
   cursor: pointer;
}

.title {
   @extend %Ruda-600;
   color: $dark-900;
   text-transform: uppercase;
   text-align: center;
   font-size: 32px;
   font-weight: 600;
   letter-spacing: 0.03em;
   margin-bottom: 30px;
}

.socials {
   display: flex;
   justify-content: space-between;
}