@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
   &__wrapper-top {
      background-color: $dark-800;
   }

   &__top {
      display: flex;
      justify-content: space-between;
      color: $white;
      padding: 14px 0;
      @extend %OpenSans-700;
   }

   &__contacts,
   &__link {
      display: flex;
      align-items: center;
   }

   &__link:hover {
      opacity: 0.7;
   }

   &__icon {
      margin-right: 12px;
   }

   &__item:not(:last-child) {
      position: relative;
      margin-right: 48px;
      font-size: 13px;
   }

   &__wrapper-bottom {
      background-color: $green-900;
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;
      padding: 25px 0;
   }

   &__catalog-btn {
      position: relative;
      max-width: 240px;
      width: 100%;
      padding: 15px 0;
      border-radius: 6px;
      background-color: $white;
      color: $green-900;
   }

   &__catalog-btn:hover {
      background-color: $green-200;
   }

   &__catalog-btn:active {
      background-color: $green-200;
   }

   &__catalog-btn::before {
      content: '';
      position: absolute;
      left: 18px;
      bottom: 17px;
      width: 25px;
      height: 17px;

   }

   &__catalog-btn--nav:before {
      background-image: url(../images/icons/nav-icon.svg);
   }

   &__catalog-btn::after {
      content: '';
      position: absolute;
      bottom: 23px;
      right: 19px;
      width: 8px;
      height: 4px;

   }

   &__catalog-btn--arrow:after {
      background-image: url(../images/icons/arrow-down.svg);
   }

   &__search {
      position: relative;
      max-width: 576px;
      width: 100%;
   }

   &__search::before {
      content: '';
      position: absolute;
      left: 13px;
      bottom: 14px;
      width: 20px;
      height: 20px;
      color: $dark-800;
   }

   &__search--icon::before {
      background-image: url(../images/icons/icon-search.svg);
   }

   &__search-field,
   &__search-btn {
      border-radius: 6px;
      outline: none;
   }

   &__search-field {
      width: 100%;
      color: $dark-800;
      padding: 15px 0;
      padding-left: 50px;
   }

   &__search-btn {
      background-color: $dark-800;
      color: $white;
      height: 100%;
      width: 158px;
      position: absolute;
      top: 0;
      right: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
   }

   &__search-btn::before {
      content: "Поиск";
      text-transform: uppercase;
      color: $white;
   }

   &__search-btn:hover {
      opacity: 0.85;
   }

   &__search-btn:active {
      color: $dark-500;
      background-color: $dark-800;
      box-shadow: inset 0 10px 5px $dark-900;
   }
}

.menu {
   &__list {
      display: flex;
   }

   &__item:not(:last-child) {
      margin-right: 14px;
   }

   &__link:hover {
      opacity: 0.7;
   }
}

.user-nav {
   display: flex;

   &__item:not(:last-child) {
      margin-right: 24px;
   }

   &__link {
      position: relative;
   }

   &__num {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: white;
      color: $red-900;
      top: -8px;
      left: -6px;
      font-size: 10px;
      text-align: center;
      line-height: 18px;
   }
}

.slider .slick-arrow {
   position: absolute;
   top: 50%;
   margin: -30px 60px 0;
   z-index: 10;
   font-size: 0;
   width: 60px;
   height: 60px;
}

.slick-prev {
   left: 0;
   background: url('../images/icons/arrow-left.svg') 45% 50% / 35% no-repeat rgba(255, 255, 255, 0.8);
   border: 1px solid $silver-600;
   border-radius: 6px;
}

.slick-next {
   right: 0;
   background: url('../images/icons/arrow-right.svg') 55% 50% / 35% no-repeat rgba(255, 255, 255, 0.8);
   border: 1px solid $silver-600;
   border-radius: 6px;
}

.slick-arrow:focus {
   box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
}

.slick-arrow:hover {
   background-color: $green-200;
   border: none;
}


.slick-arrow:active {
   background-color: $green-200;
}



.slider {
   position: relative;

   &__wrapper {
      height: 600px;
   }

   &__inner {
      height: 600px;
      display: flex;
      align-items: center;
   }


   &__item {
      background-color: rgba(255, 255, 255, 0.8);
      color: $dark-500;
      padding: 24px;
      border-radius: 6px;
      width: 100%;
   }

   &__title {
      @extend %Ruda-700;
      text-transform: uppercase;
      font-size: 60px;
      line-height: 1.3;
      max-width: 900px;
   }

   &__title span {
      display: block;
      color: $red-900;
      margin-bottom: 12px;
   }

   &__item p {
      font-size: 16px;
      margin-bottom: 32px;
   }

   &__btn {
      font-size: 18px;
      line-height: 1.3;
      padding: 12px 24px;
      background-color: $green-900;
      color: $white;
      border-radius: 6px;
   }
}

.plus {
   background-color: $silver-100;
   padding: 48px 0;

   &__list {
      display: flex;
      justify-content: center;
   }

   &__item:not(:last-child) {
      margin-right: 65px;
   }

   &__item {
      position: relative;
      max-width: 264px;
      width: 100%;
      padding-left: 77px;
   }

   &__item::before {
      content: '';
      position: absolute;
      left: 0;
      width: 50px;
      height: 50px;
   }

   &__icon--free::before {
      background-image: url(../images/icons/delivery.svg);
   }

   &__icon--return::before {
      background-image: url(../images/icons/return.svg);
   }

   &__icon--support::before {
      background-image: url(../images/icons/24h.svg);
   }


   &__title {
      font-size: 16px;
      font-weight: 600;
      color: $dark-900;
      margin-bottom: 6px;
   }

}






@import 'media';