@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'libs';
@import 'reset';
@import 'global';

.header {
   &__wrapper {
      background-color: $dark-800;
   }

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;
      padding: 14px 0;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
   }

   &__contacts {
      display: flex;
      align-items: center;
   }

   .contacts {
      &__link {
         display: flex;
         align-items: center;
         position: relative;
         transition: opacity 0.3s;

         &--avto {
            padding-left: 44px;

            &::before {
               background-image: url(../images/icons/icon-address.svg);
            }
         }

         &--tel {
            padding-left: 32px;

            &::before {
               background-image: url(../images/icons/icon-tel.svg);
            }
         }

         &::before {
            position: absolute;
            content: '';
            left: 0;
            width: 32px;
            height: 22px;
            background-repeat: no-repeat;
         }

         &:hover {
            opacity: 0.7;
         }
      }
   }

   .contacts__item {
      &:not(:last-child) {
         position: relative;
         margin-right: 48px;
         font-size: 13px;
      }
   }

   &__inner {
      background-color: $green-900;
   }

   &__bottom {
      display: flex;
      align-items: center;
      color: $white;
      padding: 25px 0;

      .logo {
         margin-right: 24px;
      }
   }

   &__catalog-btn {
      @extend %btn;
      font-weight: 600;
      display: flex;
      align-items: center;
      position: relative;
      max-width: 240px;
      width: 100%;
      padding: 15px 0 15px 61px;
      background-color: $white;
      color: $green-900;
      margin-right: 30px;
      transition: background-color 0.3s;
      background-image: url(../images/icons/nav-icon.svg);
      background-repeat: no-repeat;
      background-position: 18px center;

      &::before {
         position: absolute;
         content: '';
         right: 18px;
         width: 8px;
         height: 5px;
         background-image: url(../images/icons/arrow-down.svg);
      }

      &--nav {
         width: 25px;
         height: 17px;
         fill: $green-900;
      }

      &--arrow {
         width: 8px;
         height: 4px;
         fill: $green-900;
      }

      &:hover {
         background-color: $green-200;
      }

      &:active {
         background-color: $green-200;
      }
   }

   &__search {
      position: relative;
      max-width: 576px;
      width: 100%;
   }

   &__field,
   &__btn {
      border-radius: 6px;
      outline: transparent;
   }

   &__field {
      width: 100%;
      color: $dark-800;
      padding: 15px 30% 15px 50px;
      background-image: url(../images/icons/icon-search.svg);
      background-repeat: no-repeat;
      background-position: 13px;
   }

   &__btn {
      font-weight: 600;
      @extend %btn;
      background-color: $dark-800;
      color: $white;
      height: 100%;
      width: 27%;
      position: absolute;
      top: 0;
      right: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transition: box-shadow 0.3s, opacity 0.3s, color 0.3s, background-color 0.3s;
      text-transform: uppercase;

      &:focus {
         box-shadow: 0 0 0 4px rgba($green-900, 0.5);
      }

      &:hover {
         opacity: 0.85;
      }

      &:active {
         color: rgba($white, 0.5);
         background-color: $dark-800;
         box-shadow: inset 0 10px 5px $dark-900;
      }
   }
}

.menu {
   &__list {
      display: flex;
   }

   &__item {
      &:not(:last-child) {
         margin-right: 24px;
      }
   }

   &__link {
      transition: opacity 0.3s;

      &:hover {
         opacity: 0.7;
      }
   }
}

.user-nav {
   display: flex;
   margin-left: auto;

   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 3px;
      transition: background-color 0.3s;

      &:hover {
         background-color: #72AF26;
      }

      &:not(:last-child) {
         margin-right: 12px;
      }
   }


   &__link {
      width: 50px;
      height: 50px;
   }

   &__user-link {
      width: 24.85px;
      height: 32px;
      fill: $white;
   }

   &__favorite-link,
   &__cart-link {
      width: 32px;
      height: 30px;
      fill: $white;
   }

   &__num {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $white;
      color: $red-900;
      top: 1px;
      left: 2px;
      font-size: 10px;
      text-align: center;
      line-height: 18px;
   }
}



.promo-slider {
   position: relative;

   &__wrapper {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
   }

   &__inner {
      height: 600px;
      display: flex;
      align-items: center;
   }

   &__item {
      background-color: rgba($white, 0.8);
      color: $dark-500;
      padding: 24px;
      border-radius: 6px;
      width: 100%;
   }

   &__title {
      font-family: $Ruda;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 60px;
      line-height: 1.3;
      letter-spacing: normal;
      max-width: 900px;
      margin-bottom: 3px;
   }

   &__sale {
      display: block;
      color: $red-900;
   }

   &__content {
      @include line-clamp(16, 1.4, 3);
      font-size: 16px;
      letter-spacing: normal;
      margin-bottom: 35px;
   }

   &__link {
      display: inline-block;
      @extend %btn;
      font-size: 18px;
      line-height: 1.3;
      padding: 12px 24px;
      background-color: $green-900;
      color: $white;
      transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;

      &:focus {
         box-shadow: 0 0 0 4px $green-200;
      }

      &:hover {
         background-color: #4D810C;
      }

      &:active {
         color: rgba($white, 0.5);
         background-color: $green-900;
         box-shadow: inset 0 4px 4px rgba(#000, 0.25);
      }
   }

   .slick-arrow {
      position: absolute;
      top: 50%;
      margin: -30px 60px 0;
      z-index: 10;
      font-size: 0;
      width: 60px;
      height: 60px;
      transition: box-shadow 0.3s, background-color 0.3s, border 0.3s;
      border: 1px solid $silver-600;
      border-radius: 6px;
   }

   .slick-prev {
      left: 0;
      background: url('../images/icons/arrow-left.svg') 45% 50% / 35% no-repeat rgba($white, 0.8);
   }

   .slick-next {
      right: 0;
      background: url('../images/icons/arrow-right.svg') 55% 50% / 35% no-repeat rgba($white, 0.8);
   }

   .slick-arrow:focus {
      box-shadow: 0 0 0 4px rgba($green-900, 0.5);
   }

   .slick-arrow:hover {
      background-color: $green-200;
      border: none;
   }

   .slick-arrow:active {
      background-color: $green-200;
   }
}

.advantages {
   background-color: $silver-100;
   padding: 48px 0 29px;
   margin-bottom: 72px;

   &__list {
      display: flex;
      justify-content: center;
   }

   &__item {
      position: relative;
      max-width: 264px;
      width: 100%;
      padding-left: 77px;

      &:not(:last-child) {
         margin-right: 65px;
      }

      &::before {
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         width: 50px;
         height: 50px;
      }
   }

   &__icon {
      &--free {
         &::before {
            background-image: url(../images/icons/delivery.svg);
         }
      }

      &--return {
         &::before {
            background-image: url(../images/icons/return.svg);
         }
      }

      &--support {
         &::before {
            background-image: url(../images/icons/24h.svg);
         }
      }
   }

   &__title {
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0;
      color: $dark-900;
      margin-bottom: 6px;
   }

   &__text {
      @include line-clamp(14, 1.4, 2);
   }
}

.best-products {
   margin-bottom: 72px;

   .product-filters {
      display: flex;
      justify-content: center;
      margin-bottom: 48px;

      &__item {
         position: relative;
         padding-bottom: 3px;

         &:not(:last-child) {
            margin-right: 24px;
         }

         &::after {
            content: '';
            transition: background-color 0.5s;
         }

         &:hover:after,
         &:active:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            background-color: $green-200;
            width: 100%;
         }
      }

      &__btn {
         font-weight: 700;
         text-transform: uppercase;
         font-size: 15px;
         color: $dark-500;
      }

   }

   .product__cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 30px;
      margin-bottom: 48px;
   }

   &__btn {
      display: flex;
   }

   &__more {
      @extend %btn;
      display: block;
      font-size: 18px;
      line-height: 1.3;
      padding: 12px 24px;
      margin: 0 auto;
      color: $green-900;
      border: 1px solid $green-900;
      transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;

      &:focus {
         box-shadow: 0 0 0 4px $green-200;
      }

      &:hover {
         background-color: $green-200;
      }

      &:active {
         color: rgba($green-900, 0.5);
         box-shadow: inset 0 10px 4px rgba(#000, 0.1);
      }
   }
}

.product-card-preview {
   max-width: 300px;
   border: 1px solid rgba(#111111, 0.2);
   padding: 18px;
   border-radius: 6px;
   transition: border-color 0.3s;
   position: relative;

   &__link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
   }

   &:hover {
      border-color: $green-900;
   }

   &__top {
      position: relative;
      margin-bottom: 20px;
   }

   &__badges {
      position: absolute;
      top: -6px;
      left: -6px;
   }

   &__badge {
      display: flex;
      flex-direction: column;
      width: fit-content;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;
      line-height: 1;
      color: $white;
      padding: 3px 6px;
      border-radius: 6px;

      &:not(:last-child) {
         margin-bottom: 6px;
      }
   }

   &__badge {

      &--new {
         background-color: $green-900;
      }

      &--sale {
         background-color: $red-900;
      }

      &--hit {
         background-color: $orange-900;
      }
   }

   &__favorite-icon {
      @extend %btn;
      width: 32px;
      height: 32px;
      position: absolute;
      right: -6px;
      top: -6px;
      fill: $silver-600;
      transition: fill 0.3s;
      z-index: 2;

      &:hover {
         fill: $yellow-900;
      }
   }

   &__img {
      object-fit: cover;
      margin-bottom: 18px;
   }

   &__bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      height: 101px;
   }

   &__title {
      font-weight: 600;
      @include line-clamp(14, 1.4, 3);
      color: $dark-900;
   }

   &__info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }

   &__prices {
      display: flex;
      flex-direction: column;
   }

   &__price {
      &--old {
         position: relative;
         color: $silver-600;

         &::before {
            border-bottom: 1px solid $silver-600;
            position: absolute;
            content: '';
            width: 100%;
            height: 50%;
            transform: rotate(-15deg);
            color: $silver-600;
         }
      }
   }

   &__cart {
      width: 32px;
      height: 32px;
      z-index: 2;
   }

   &__cart-icon {
      @extend %btn;
      width: 32px;
      height: 32px;
      border-radius: 3px;
      background-color: $green-900;
      padding: 8px;
      fill: $white;
      transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;

      &:focus {
         box-shadow: 0 0 0 4px $green-200;
      }

      &:hover {
         background-color: #4D800C;
      }

      &:active {
         color: rgba($white, 0.5);
         background-color: $green-900;
         box-shadow: inset 0 4px 4px rgba(#000, 0.25);
      }
   }
}




.banners {
   margin-bottom: 72px;

   &__wrapper {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      text-transform: uppercase;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 76px 0;
      padding-left: 32px;

      &--white {
         color: $white;
         text-shadow: 2px 2px 0 rgba(#000, 0.25);
      }

      &--dark-500 {
         color: $dark-500;
      }

      &--630x300 {
         max-width: 630px;
         width: 100%;
         height: 300px;
      }

      &--300x300 {
         max-width: 300px;
         width: 100%;
         height: 300px;
      }
   }

   &__type {
      @include line-clamp(12, 1, 1);
      font-weight: 700;
      letter-spacing: 0.1em;
      margin-bottom: 18px;
   }

   &__title {
      @include line-clamp(30, 1.4, 2);
      font-family: $Ruda;
      font-weight: 600;
      width: 75%;
      font-size: 30px;
      margin-bottom: 12px;
   }

   &__shopping {
      position: relative;
      font-weight: 700;
      padding-bottom: 8px;
      line-height: normal;

      &::after {
         content: '';
         display: block;
         position: absolute;
         bottom: 0;
         width: 100%;
         height: 0.143em;
      }

      &--white {
         color: $white;
         text-shadow: 2px 2px 0 rgba(#000, 0.25);

         &::after {
            background-color: $white;
         }
      }

      &--dark-500 {
         color: $dark-500;

         &::after {
            background-color: $dark-500;
         }
      }
   }
}


.promo-actions {
   padding: 72px 0;
   background-color: $silver-100;

   &__filters {
      display: flex;
      justify-content: center;
      margin-bottom: 48px;
   }

   &__item {
      position: relative;
      padding-bottom: 3px;

      &:not(:last-child) {
         margin-right: 24px;
      }

      &::after {
         content: '';
         transition: background-color 0.5s;
      }

      &:hover:after,
      &:active:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         height: 3px;
         background-color: $green-200;
         width: 100%;
      }
   }

   &__filters-btn {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 0.1em;
      color: $dark-500;
   }










   .actions__cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 30px;
      margin-bottom: 48px;
   }



   .actions-card-preview {
      display: flex;
      max-width: 300px;
      border: 1px solid $silver-600;
      padding: 12px;
      border-radius: 6px;
      background-color: $white;
      transition: border-color 0.3s;
      position: relative;

      &__link {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: 1;
      }

      &:hover {
         border-color: $green-900;
      }

      &__photo {
         margin-right: 12px;
         display: block;
      }

      &__image {
         width: 100px;
      }

      &__badges {
         position: absolute;
         top: 12px;
         left: 12px;
      }

      &__badge {
         display: flex;
         flex-direction: column;
         width: fit-content;
         text-transform: uppercase;
         font-size: 10px;
         font-weight: 700;
         line-height: 1;
         color: $white;
         padding: 3px 6px;
         border-radius: 6px;

         &:not(:last-child) {
            margin-bottom: 6px;
         }

         &--new {
            background-color: $green-900;
         }

         &--hit {
            background-color: $orange-900;
         }
      }

      &__content {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         position: relative;
         width: 100%;
      }

      &__info {
         display: flex;
         justify-content: space-between;
      }

      &__title {
         font-weight: 600;
         @include line-clamp(14, 1.4, 3);
         color: $dark-900;
      }

      &__condition {
         font-weight: 600;
         font-size: 10px;
         line-height: 1;
         text-transform: uppercase;
         position: absolute;
         content: '';
         bottom: 24px;

         &--lot {
            color: $green-900;
         }

         &--few {
            color: $red-900;
         }

         &--not {
            color: $silver-600;
         }
      }

      &__price {
         &:nth-child(2) {
            font-weight: 600;
            margin-right: 12px;
         }

         &--new {
            font-weight: 600;
            font-size: 20px;
            line-height: 1;
         }

         &--old {
            position: relative;
            color: $silver-600;
            font-size: 12px;
            line-height: 1;

            &::before {
               border-bottom: 1px solid $silver-600;
               position: absolute;
               content: '';
               width: 100%;
               height: 85%;
               transform: rotate(-15deg);
               color: $silver-600;
            }
         }
      }

      &__rating {
         position: relative;
         font-weight: 700;
         line-height: 1;
         padding-right: 18px;

         &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            bottom: 0;
            right: 0;
            background-image: url(../images/icons/star-16-16.svg);
         }
      }

      &__star-icon {
         // @extend %btn;
         width: 16px;
         height: 16px;
         fill: $yellow-900;
      }
   }

   &__btn {
      display: flex;
      justify-content: center;
   }

   &__more {
      @extend %btn;
      display: block;
      font-size: 18px;
      line-height: 1.3;
      padding: 12px 24px;
      background-color: $green-900;
      color: $white;
      transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;

      &:focus {
         box-shadow: 0 0 0 4px $green-200;
      }

      &:hover {
         background-color: #4D810C;
      }

      &:active {
         color: rgba($white, 0.5);
         background-color: $green-900;
         box-shadow: inset 0 4px 4px rgba(#000, 0.25);
      }
   }
}



.brands {
   padding: 72px 55px;

   &__list {
      // display: flex;
      // justify-content: space-around;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
   }

   &__img {
      width: 80px;
      height: 59px;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.5;
      transition: opacity 0.3s;

      &:hover {
         opacity: 1;
      }

      &--sprite {
         background-image: url(../images/brands/Sprite.png);
      }

      &--dr-pepper {
         background-image: url(../images/brands/dr-pepper-4.png);
      }

      &--coca-cola {
         background-image: url(../images/brands/CocaCola.png);
      }

      &--pepsi {
         background-image: url(../images/brands/pepsi.png);
      }

      &--red-bull {
         background-image: url(../images/brands/redbull.png);
      }

      &--fanta {
         background-image: url(../images/brands/fanta.png);
      }
   }
}



.news {
   margin-bottom: 72px;

   &__head {
      display: flex;
      justify-content: space-between;
   }

   &__all-news {
      font-weight: 700;
      text-transform: uppercase;
      color: $green-900;
      line-height: 1;
      position: relative;

      &::after {
         content: '';
         position: absolute;
         bottom: -6px;
         left: -1px;
         height: 2px;
         background-color: $green-900;
         width: 105%;
      }
   }

   &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
   }

   &__item {
      position: relative;
      box-shadow: 0 3px 3px rgba(#000, 0.25);
      border-radius: 6px;
   }

   &__link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
   }

   &__date-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      position: absolute;
      content: '';
      top: 0;
      left: 20px;
      width: 65px;
      height: 76px;
      background-color: $white;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      color: $dark-900;
      z-index: 2;
   }

   &__date-month {
      font-size: 10px;
      letter-spacing: 0.1em;
   }

   &__date-day {
      font-size: 30px;
      line-height: 1;

   }

   &__text {
      @include line-clamp(16, 1.5, 3);
      min-height: 108px;
      font-weight: 600;
      color: $dark-900;
      padding: 18px;
      letter-spacing: normal;
   }
}


.footer {

   background-color: $dark-800;
   color: $white;
   padding-top: 30px;

   &__body {
      border-bottom: 1px solid;
      border-bottom-color: rgba(255, 255, 255, 0.1);
   }

   &__content {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
   }

   &__sub {
      position: relative;
      width: 306px;
   }

   &__label {
      display: block;
      margin-bottom: 18px;
   }

   &__sub-text,
   &__sub-btn {
      border-radius: 6px;
      outline: transparent;
   }

   &__sub-text {
      width: 100%;
      height: 40px;
      color: $dark-800;
      line-height: 1;
      padding: 12px 138px 12px 0;
      padding-left: 12px;
   }

   &__sub-btn {
      @extend %btn;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.6;
      background-color: $green-900;
      color: $white;
      height: 40px;
      width: 126px;
      position: absolute;
      right: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      text-transform: uppercase;
      transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;

      &::before {
         @extend %btn;
         content: '';
         color: $white;
      }

      &:focus {
         box-shadow: 0 0 0 4px $green-200;
      }

      &:hover {
         background-color: #4D800C;
      }

      &:active {
         color: rgba($white, 0.5);
         background-color: $green-900;
         box-shadow: inset 0 4px 4px rgba(#000, 0.25);
      }
   }

   &__nav {
      column-gap: 80px;
      column-count: 3;

      .nav__item {
         margin-bottom: 18px;
      }
   }

   .contact__phone,
   .contact__address {
      margin-bottom: 18px;
   }

   &__bottom-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;
   }
}

.socials {
   display: flex;
   justify-content: space-between;

   &__icon {
      width: 32px;
      height: 32px;
      fill: $white;
   }

   &__link {
      transition: opacity 0.3s;

      &:hover {
         opacity: 0.7;
      }
   }
}



.pay-systems {
   display: flex;

   &__icon {

      &--visa {
         width: 93px;
         height: 29px;
         fill: $white
      }

      &--mastercard {
         width: 49px;
         height: 29px;
         fill: $white
      }
   }

   &__item {
      &:not(:last-child) {
         margin-right: 24px;
      }
   }
}