<section class="banners">
   <h2 class="sr-only">banners</h2>
   <div class="container">
      <ul class="banners__wrapper">
         <li class="banners__item banners__item--630x300 banners__item--white" style="background-image: url(images/banners/fruits-bg-630-300.jpg);">
            <div class="banners__type">
               <p>свежайшие фрукты</p>
            </div>
            <h3 class="banners__title">
               начни фруктовое лето
               всего от 99 ₽
            </h3>
            <a class="banners__shopping banners__shopping--white" href="#">
               перейти к покупкам
            </a>
         </li>

         <li class="banners__item banners__item--300x300 banners__item--dark-500" style="background-image: url(images/banners/veg-bg-300-300.jpg)">
            <div class="banners__type">
               <p>сезонная распродажа</p>
            </div>
            <h3 class="banners__title">
               овощепад до -50%
            </h3>
            <a class="banners__shopping banners__shopping--dark-500" href="#">
               перейти к покупкам
            </a>
         </li>

         <li class="banners__item banners__item--300x300 banners__item--dark-500" style="background-image: url(images/banners/bread-bg-300-300.jpg)">
            <div class="banners__type">
               <p>ням-ням</p>
            </div>
            <h3 class="banners__title">
               свежий хлебчик
            </h3>
            <a class="banners__shopping banners__shopping--dark-500" href="#">
               перейти к покупкам
            </a>
         </li>
      </ul>
   </div>
</section>