<section class="best-products" data-ref="container-1">
   <div class="container">
      <h2 class="title">
         Топовые товары
      </h2>
      <div id="Container-1">
         <ul class="product-filters">
            <li class="product-filters__item">
               <button class="product-filters__btn" type="button" data-filter="all">
                  все товары
               </button>
            </li>
            <li class="product-filters__item">
               <button class="product-filters__btn" type="button" data-filter=".category-fruits">
                  фрукты
               </button>
            </li>
            <li class=" product-filters__item">
               <button class="product-filters__btn" type="button" data-filter=".category-vegetables">
                  овощи
               </button>
            </li>
            <li class="product-filters__item">
               <button class="product-filters__btn" type="button" data-filter=".category-drinks">
                  напитки
               </button>
            </li>
            <li class="product-filters__item">
               <button class="product-filters__btn" type="button" data-filter=".category-grocery">
                  бакалея
               </button>
            </li>
         </ul>
      </div>

      <ul class="product-cards">
         <li class="product-cards__item mix category-fruits">
            <article class="product-card">
               <a class="product-card__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="product-card__top">
                  <div class="product-card__badges">
                     <span class="product-card__badge product-card__badge--new">новинка</span>
                     <span class="product-card__badge product-card__badge--sale">-50%</span>
                     <!-- <span class="product-card__badge product-card__badge--hit">хит</span> -->
                  </div>
                  <button class="product-card__favorite" type="submit" aria-label="Добавить в избранное">
                     <svg class="product-card__favorite-icon product-card__favorite-icon--grey">
                        <use xlink:href="images/sprite.svg#favorite-link"></use>
                     </svg>
                  </button>
               </div>
               <img class="product-card__img" src="images/product/pineapple.jpg" alt="Ананас" width="300" height="215">
               <div class="product-card__bottom">
                  <h3 class="product-card__title">
                     Ананас, 1кг
                  </h3>
                  <div class="product-card__info">
                     <div class="product-card__prices">
                        <span class="product-card__price product-card__price--old">1999 ₽</span>
                        <span class="product-card__price product-card__price--new">999 ₽</span>
                     </div>

                     <button class="product-card__cart" type="submit" aria-label="Добавить в корзину">
                        <svg class="product-card__cart-icon">
                           <use xlink:href="images/sprite.svg#cart-link"></use>
                        </svg>
                     </button>
                  </div>
               </div>
            </article>
         </li>

         <li class="product-cards__item mix category-fruits">
            <article class="product-card">
               <a class="product-card__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="product-card__top">
                  <div class="product-card__badges">
                     <!-- <span class="product-card__badge product-card__badge--new">новинка</span> -->
                     <!-- <span class="product-card__badge product-card__badge--sale">-50%</span> -->
                     <!-- <span class="product-card__badge product-card__badge--hit">хит</span> -->
                  </div>
                  <button class="product-card__favorite" type="submit" aria-label="Добавить в избранное">
                     <svg class="product-card__favorite-icon product-card__favorite-icon--grey">
                        <use xlink:href="images/sprite.svg#favorite-link"></use>
                     </svg>
                  </button>
               </div>
               <img class="product-card__img" src="images/product/lemon.jpg" alt="Лимон" width="300" height="215">
               <div class="product-card__bottom">
                  <h3 class="product-card__title">
                     Лимон, 1кг
                  </h3>
                  <div class="product-card__info">
                     <div class="product-card__prices">
                        <!-- <span class="product-card__price product-card__price--old">1999 ₽</span> -->
                        <span class="product-card__price product-card__price--new">199 ₽</span>
                     </div>
                     <button class="product-card__cart" type="submit" aria-label="Добавить в корзину">
                        <svg class="product-card__cart-icon">
                           <use xlink:href="images/sprite.svg#cart-link"></use>
                        </svg>
                     </button>
                  </div>
               </div>
            </article>
         </li>

         <li class="product-cards__item mix category-fruits">
            <article class="product-card">
               <a class="product-card__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="product-card__top">
                  <div class="product-card__badges">
                     <!-- <span class="product-card__badge product-card__badge--new">новинка</span> -->
                     <!-- <span class="product-card__badge product-card__badge--sale">-50%</span> -->
                     <span class="product-card__badge product-card__badge--hit">хит</span>
                  </div>
                  <button class="product-card__favorite" type="submit" aria-label="Добавить в избранное">
                     <svg class="product-card__favorite-icon product-card__favorite-icon--grey">
                        <use xlink:href="images/sprite.svg#favorite-link"></use>
                     </svg>
                  </button>
               </div>
               <img class="product-card__img" src="images/product/dragon-fruit.jpg" alt="Питахайя красная" width="300" height="215">
               <div class="product-card__bottom">
                  <h3 class="product-card__title">
                     Питахайя красная с белой мякотью, 1шт
                  </h3>
                  <div class="product-card__info">
                     <div class="product-card__prices">
                        <!-- <span class="product-card__price product-card__price--old">1999 ₽</span> -->
                        <span class="product-card__price product-card__price--new">1019 ₽</span>
                     </div>
                     <button class="product-card__cart" type="submit" aria-label="Добавить в корзину">
                        <svg class="product-card__cart-icon">
                           <use xlink:href="images/sprite.svg#cart-link"></use>
                        </svg>
                     </button>
                  </div>
               </div>
            </article>
         </li>

         <li class="product-cards__item mix category-vegetables">
            <article class="product-card">
               <a class="product-card__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="product-card__top">
                  <div class="product-card__badges">
                     <span class="product-card__badge product-card__badge--new">новинка</span>
                     <!-- <span class="product-card__badge product-card__badge--sale">-50%</span> -->
                     <!-- <span class="product-card__badge product-card__badge--hit">хит</span> -->
                  </div>
                  <button class="product-card__favorite" type="submit" aria-label="Добавить в избранное">
                     <svg class="product-card__favorite-icon product-card__favorite-icon--grey">
                        <use xlink:href="images/sprite.svg#favorite-link"></use>
                     </svg>
                  </button>
               </div>
               <img class="product-card__img" src="images/product/paprik-1.jpg" alt="Перец оранжевый" width="300" height="215">
               <div class="product-card__bottom">
                  <h3 class="product-card__title">
                     Перец оранжевый, 1кг
                  </h3>
                  <div class="product-card__info">
                     <div class="product-card__prices">
                        <!-- <span class="product-card__price product-card__price--old">1999 ₽</span> -->
                        <span class="product-card__price product-card__price--new">349 ₽</span>
                     </div>
                     <button class="product-card__cart" type="submit" aria-label="Добавить в корзину">
                        <svg class="product-card__cart-icon">
                           <use xlink:href="images/sprite.svg#cart-link"></use>
                        </svg>
                     </button>
                  </div>
               </div>
            </article>
         </li>

         <li class="product-cards__item mix category-vegetables">
            <article class="product-card">
               <a class="product-card__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="product-card__top">
                  <div class="product-card__badges">
                     <!-- <span class="product-card__badge product-card__badge--new">новинка</span> -->
                     <!-- <span class="product-card__badge product-card__badge--sale">-50%</span> -->
                     <span class="product-card__badge product-card__badge--hit">хит</span>
                  </div>
                  <button class="product-card__favorite" type="submit" aria-label="Добавить в избранное">
                     <svg class="product-card__favorite-icon product-card__favorite-icon--grey">
                        <use xlink:href="images/sprite.svg#favorite-link"></use>
                     </svg>
                  </button>
               </div>
               <img class="product-card__img" src="images/product/carrot-1.jpg" alt="Морковь" width="300" height="215">
               <div class="product-card__bottom">
                  <h3 class="product-card__title">
                     Морковь молодая с бабушкиной грядки, 1кг
                  </h3>
                  <div class="product-card__info">
                     <div class="product-card__prices">
                        <!-- <span class="product-card__price product-card__price--old">1999 ₽</span> -->
                        <span class="product-card__price product-card__price--new">49 ₽</span>
                     </div>
                     <button class="product-card__cart" type="submit" aria-label="Добавить в корзину">
                        <svg class="product-card__cart-icon">
                           <use xlink:href="images/sprite.svg#cart-link"></use>
                        </svg>
                     </button>
                  </div>
               </div>
            </article>
         </li>

         <li class="product-cards__item mix category-drinks">
            <article class="product-card">
               <a class="product-card__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="product-card__top">
                  <div class="product-card__badges">
                     <!-- <span class="product-card__badge product-card__badge--new">новинка</span> -->
                     <span class="product-card__badge product-card__badge--sale">-30%</span>
                     <!-- <span class="product-card__badge product-card__badge--hit">хит</span> -->
                  </div>
                  <button class="product-card__favorite" type="submit" aria-label="Добавить в избранное">
                     <svg class="product-card__favorite-icon product-card__favorite-icon--grey">
                        <use xlink:href="images/sprite.svg#favorite-link"></use>
                     </svg>
                  </button>
               </div>
               <img class="product-card__img" src="images/product/juice-1.jpg" alt="Напиток сокосодержащий" width="300" height="215">
               <div class="product-card__bottom">
                  <h3 class="product-card__title">
                     Напиток сокосодержащий sanpellegrino aranciata orange красный апельсин безалкогольн...
                  </h3>
                  <div class="product-card__info">
                     <div class="product-card__prices">
                        <span class="product-card__price product-card__price--old">299 ₽</span>
                        <span class="product-card__price product-card__price--new">199 ₽</span>
                     </div>
                     <button class="product-card__cart" type="submit" aria-label="Добавить в корзину">
                        <svg class="product-card__cart-icon">
                           <use xlink:href="images/sprite.svg#cart-link"></use>
                        </svg>
                     </button>
                  </div>
               </div>
            </article>
         </li>

         <li class="product-cards__item mix category-drinks">
            <article class="product-card">
               <a class="product-card__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="product-card__top">
                  <div class="product-card__badges">
                     <span class="product-card__badge product-card__badge--new">новинка</span>
                     <!-- <span class="product-card__badge product-card__badge--sale">-50%</span> -->
                     <!-- <span class="product-card__badge product-card__badge--hit">хит</span> -->
                  </div>
                  <button class="product-card__favorite" type="submit" aria-label="Добавить в избранное">
                     <svg class="product-card__favorite-icon product-card__favorite-icon--grey">
                        <use xlink:href="images/sprite.svg#favorite-link"></use>
                     </svg>
                  </button>
               </div>
               <img class="product-card__img" src="images/product/coffee-1.jpg" alt="Кофе с коноплей" width="300" height="215">
               <div class="product-card__bottom">
                  <h3 class="product-card__title">
                     Кофе с коноплей органический caffé salomoni 250г
                  </h3>
                  <div class="product-card__info">
                     <div class="product-card__prices">
                        <!-- <span class="product-card__price product-card__price--old">1999 ₽</span> -->
                        <span class="product-card__price product-card__price--new">877 ₽</span>
                     </div>
                     <button class="product-card__cart" type="submit" aria-label="Добавить в корзину">
                        <svg class="product-card__cart-icon">
                           <use xlink:href="images/sprite.svg#cart-link"></use>
                        </svg>
                     </button>
                  </div>
               </div>
            </article>
         </li>

         <li class="product-cards__item mix category-grocery">
            <article class="product-card">
               <a class="product-card__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="product-card__top">
                  <div class="product-card__badges">
                     <!-- <span class="product-card__badge product-card__badge--new">новинка</span> -->
                     <!-- <span class="product-card__badge product-card__badge--sale">-50%</span> -->
                     <!-- <span class="product-card__badge product-card__badge--hit">хит</span> -->
                  </div>
                  <button class="product-card__favorite" type="submit" aria-label="Добавить в избранное">
                     <svg class="product-card__favorite-icon product-card__favorite-icon--grey">
                        <use xlink:href="images/sprite.svg#favorite-link"></use>
                     </svg>
                  </button>
               </div>
               <img class="product-card__img" src="images/product/ketchup-1.jpg" alt="Кетчуп" width="300" height="215">
               <div class="product-card__bottom">
                  <h3 class="product-card__title">
                     Кетчуп томатный детский органический bio-zentrale 500мл
                  </h3>
                  <div class="product-card__info">
                     <div class="product-card__prices">
                        <!-- <span class="product-card__price product-card__price--old">1999 ₽</span> -->
                        <span class="product-card__price product-card__price--new">600 ₽</span>
                     </div>
                     <button class="product-card__cart" type="submit" aria-label="Добавить в корзину">
                        <svg class="product-card__cart-icon">
                           <use xlink:href="images/sprite.svg#cart-link"></use>
                        </svg>
                     </button>
                  </div>
               </div>
            </article>
         </li>
      </ul>

      <div class="best-products__btn">
         <a class="best-products__more" href="#">Показать ещё</a>
      </div>

   </div>
</section>