<section class="brands">
   <h2 class="sr-only">бренды</h2>
   <div class="container">
      <ul class="brands__list">
         <li class="brands__img">
            <a class="brands__link brands__link--sprite" href="#" aria-label="sprite"></a>
         </li>
         <li class="brands__img">
            <a class="brands__link brands__link--dr-pepper" href="#" aria-label="dr-pepper"></a>
         </li>
         <li class="brands__img">
            <a class="brands__link brands__link--coca-cola" href="#" aria-label="coca-cola"></a>
         </li>
         <li class="brands__img">
            <a class="brands__link brands__link--pepsi" href="#" aria-label="pepsi"></a>
         </li>
         <li class="brands__img">
            <a class="brands__link brands__link--red-bull" href="#" aria-label="red-bull"></a>
         </li>
         <li class="brands__img">
            <a class="brands__link brands__link--fanta" href="#" aria-label="fanta"></a>
         </li>
      </ul>
   </div>
</section>