<section class="brands">
   <h2 class="sr-only">бренды</h2>
   <div class="container">
      <ul class="brands__list">
         <li class="brands__img brands__img--sprite"></li>
         <li class="brands__img brands__img--dr-pepper"></li>
         <li class="brands__img brands__img--coca-cola"></li>
         <li class="brands__img brands__img--pepsi"></li>
         <li class="brands__img brands__img--red-bull"></li>
         <li class="brands__img brands__img--fanta"></li>
      </ul>
   </div>
</section>