<section class="news">
   <div class="container">
      <div class="news__head">
         <h2 class="title">
            наши новости
         </h2>
         <a class="news__all" href="#">все новости</a>
      </div>
      <ul class="news__list">
         <li class="news__item">
            <article class="news__card">
               <time datetime="07-15" class="news__time">
                  <p class="news__month">
                     <span>июль</span>
                  </p>
                  <p class="news__day">
                     <span>15</span>
                  </p>
               </time>
               <img class="news__img" src="images/news/sale-news-1507.jpg" alt="news" width="410" height="240">
               <div class="news__content">
                  <h3 class="news__text">Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не разобрали!</h3>
               </div>
            </article>
         </li>
         <li class="news__item">
            <article class="news__card">
               <time datetime="05-07" class="news__time">
                  <p class="news__month">
                     <span>май</span>
                  </p>
                  <p class="news__day">
                     <span>07</span>
                  </p>
               </time>
               <img class="news__img" src="images/news/mango-news-0703.jpg" alt="news" width="410" height="240">
               <div class="news__content">
                  <h3 class="news__text">Шикарнейший выбор манго в нашем онлайн-маркете</h3>
               </div>
            </article>
         </li>
         <li class="news__item">
            <article class="news__card">
               <time datetime="02-20" class="news__time">
                  <p class="news__month">
                     <span>февраль</span>
                  </p>
                  <p class="news__day">
                     <span>20</span>
                  </p>
               </time>
               <img class="news__img" src="images/news/papaya-news-2002.jpg" alt="news" width="410" height="240">
               <div class="news__content">
                  <h3 class="news__text">Всё, что вы хотели знать о папайя</h3>
               </div>
            </article>
         </li>
      </ul>
   </div>
</section>