<section class="news">
   <div class="container">
      <div class="news__head">
         <div class="title">
            наши новости
         </div>
         <span><a class="news__all-news" href="#">все новости</a></span>
      </div>

      <div class="news__content">

         <ul class="news__list">
            <li class="news__item">
               <a class="news__link" href="#" aria-label="Читать новость"></a>
               <a class="news__date-link" href="#" aria-label="Дата новости">
                  <p class="news__date-month">
                     <span>июль</span>
                  </p>
                  <p class="news__date-day">
                     <span>15</span>
                  </p>
               </a>
               <div class="news__image">
                  <img class="news__img" src="images/news/sale-news-1507.jpg" alt="news" width="410" height="240">
               </div>
               <div class="news__text">
                  <p>Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не разобрали!</p>
               </div>
            </li>

            <li class="news__item">
               <a class="news__link" href="#" aria-label="Читать новость"></a>
               <a class="news__date-link" href="#" aria-label="Дата новости">
                  <p class="news__date-month">
                     <span>май</span>
                  </p>
                  <p class="news__date-day">
                     <span>07</span>
                  </p>
               </a>
               <div class="news__image">
                  <img class="news__img" src="images/news/mango-news-0703.jpg" alt="news" width="410" height="240">
               </div>
               <div class="news__text">
                  Шикарнейший выбор манго в нашем онлайн-маркете
               </div>
            </li>

            <li class="news__item">
               <a class="news__link" href="#" aria-label="Читать новость"></a>
               <a class="news__date-link" href="#" aria-label="Дата новости">
                  <p class="news__date-month">
                     <span>февраль</span>
                  </p>
                  <p class="news__date-day">
                     <span>20</span>
                  </p>
               </a>
               <div class="news__image">
                  <img class="news__img" src="images/news/papaya-news-2002.jpg" alt="news" width="410" height="240">
               </div>
               <div class="news__text">
                  Всё, что вы хотели знать о папайя
               </div>
            </li>

         </ul>
      </div>
   </div>
</section>