<section class="promo-actions">
   <div class="container">
      <h2 class="title">
         Акции
      </h2>
      <div id="Container-2">
         <ul class="promo-actions__filters">
            <li class="promo-actions__item">
               <button class="promo-actions__filters-btn" type="button" data-filter="all">
                  все товары
               </button>
            </li>
            <li class="promo-actions__item">
               <button class="promo-actions__filters-btn" type="button" data-filter=".category-new">
                  новинки
               </button>
            </li>
            <li class=" promo-actions__item">
               <button class="promo-actions__filters-btn" type="button" data-filter=".category-hits">
                  хиты
               </button>
            </li>
         </ul>
      </div>

      <ul class="actions__cards">
         <li class="actions-card__item mix category-new">
            <div class="actions-card-preview">
               <a class="actions-card-preview__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="actions-card-preview__photo">
                  <div class="actions-card-preview__badges">
                     <span class="actions-card-preview__badge actions-card-preview__badge--new">новинка</span>
                     <!-- <span class="actions-card-preview__badge actions-card-preview__badge--hit">хит</span> -->
                  </div>
                  <div class="actions-card-preview__image">
                     <img class="actions-card-preview__img" src="images/product-100-100/pineapple-100-100.jpg" alt="product" width="100" height="100">
                  </div>
               </div>
               <div class="actions-card-preview__content">
                  <h3 class="actions-card-preview__title">
                     Ананас, 1 кг
                  </h3>
                  <span class="actions-card-preview__condition  actions-card-preview__condition--lot">в наличии</span>
                  <!-- <span class="actions-card-preview__condition  actions-card-preview__condition--few">заканчивается</span> -->
                  <!-- <span class="actions-card-preview__badge actions-card-preview__badge--not">нет в наличии</span> -->
                  <div class="actions-card-preview__info">
                     <div class="action-card-preview__prices">
                        <span class="actions-card-preview__price actions-card-preview__price--new">999</span><span class="actions-card-preview__price actions-card-preview--rub-sup">₽</span>
                        <span class="actions-card-preview__price actions-card-preview__price--old">1999 ₽</span>
                     </div>
                     <div class="actions-card-preview__stars">
                        <span class="actions-card-preview__rating">4.5</span>
                     </div>
                  </div>

               </div>
            </div>
         </li>

         <li class="actions-card__item mix category-new">
            <div class="actions-card-preview">
               <a class="actions-card-preview__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="actions-card-preview__photo">
                  <div class="actions-card-preview__badges">
                     <span class="actions-card-preview__badge actions-card-preview__badge--new">новинка</span>
                     <!-- <span class="actions-card-preview__badge actions-card-preview__badge--hit">хит</span> -->
                  </div>
                  <div class="actions-card-preview__image">
                     <img class="actions-card-preview__img" src="images/product-100-100/coffee-100_100.jpg" alt="product" width="100" height="100">
                  </div>
               </div>
               <div class="actions-card-preview__content">
                  <h3 class="actions-card-preview__title">
                     Кофе с коноплей органический Caffé Salomoni 250г
                  </h3>
                  <!-- <span class="actions-card-preview__condition  actions-card-preview__condition--lot">в наличии</span> -->
                  <span class="actions-card-preview__condition  actions-card-preview__condition--few">заканчивается</span>
                  <!-- <span class="actions-card-preview__badge actions-card-preview__badge--not">нет в наличии</span> -->
                  <div class="actions-card-preview__info">
                     <div class="action-card-preview__prices">
                        <span class="actions-card-preview__price actions-card-preview__price--new">777</span><span class="actions-card-preview__price actions-card-preview--rub-sup">₽</span>
                        <span class="actions-card-preview__price actions-card-preview__price--old">877 ₽</span>
                     </div>
                     <div class="actions-card-preview__stars">
                        <span class="actions-card-preview__rating">4.9</span>
                     </div>
                  </div>

               </div>
            </div>
         </li>

         <li class="actions-card__item mix category-new">
            <div class="actions-card-preview">
               <a class="actions-card-preview__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="actions-card-preview__photo">
                  <div class="actions-card-preview__badges">
                     <span class="actions-card-preview__badge actions-card-preview__badge--new">новинка</span>
                     <!-- <span class="actions-card-preview__badge actions-card-preview__badge--hit">хит</span> -->
                  </div>
                  <div class="actions-card-preview__image">
                     <img class="actions-card-preview__img" src="images/product-100-100/strawberry-100-100.jpg" alt="product" width="100" height="100">
                  </div>
               </div>
               <div class="actions-card-preview__content">
                  <h3 class="actions-card-preview__title">
                     Клубника, 1 кг
                  </h3>
                  <!-- <span class="actions-card-preview__condition  actions-card-preview__condition--lot">в наличии</span> -->
                  <!-- <span class="actions-card-preview__condition  actions-card-preview__condition--few">заканчивается</span> -->
                  <span class="actions-card-preview__badge actions-card-preview__badge--not">нет в наличии</span>
                  <div class="actions-card-preview__info">
                     <div class="action-card-preview__prices">
                        <span class="actions-card-preview__price actions-card-preview__price--new">440</span><span class="actions-card-preview__price actions-card-preview--rub-sup">₽</span>
                        <span class="actions-card-preview__price actions-card-preview__price--old">600 ₽</span>
                     </div>
                     <div class="actions-card-preview__stars">
                        <span class="actions-card-preview__rating">5.0</span>
                     </div>
                  </div>

               </div>
            </div>
         </li>

         <li class="actions-card__item mix category-new">
            <div class="actions-card-preview">
               <a class="actions-card-preview__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="actions-card-preview__photo">
                  <div class="actions-card-preview__badges">
                     <span class="actions-card-preview__badge actions-card-preview__badge--new">новинка</span>
                     <!-- <span class="actions-card-preview__badge actions-card-preview__badge--hit">хит</span> -->
                  </div>
                  <div class="actions-card-preview__image">
                     <img class="actions-card-preview__img" src="images/product-100-100/mango-100-100.jpg" alt="product" width="100" height="100">
                  </div>
               </div>
               <div class="actions-card-preview__content">
                  <h3 class="actions-card-preview__title">
                     Манго, 1 шт
                  </h3>
                  <span class="actions-card-preview__condition  actions-card-preview__condition--lot">в наличии</span>
                  <!-- <span class="actions-card-preview__condition  actions-card-preview__condition--few">заканчивается</span> -->
                  <!-- <span class="actions-card-preview__badge actions-card-preview__badge--not">нет в наличии</span> -->
                  <div class="actions-card-preview__info">
                     <div class="action-card-preview__prices">
                        <span class="actions-card-preview__price actions-card-preview__price--new">660</span><span class="actions-card-preview__price actions-card-preview--rub-sup">₽</span>
                        <span class="actions-card-preview__price actions-card-preview__price--old">960 ₽</span>
                     </div>
                     <div class="actions-card-preview__stars">
                        <span class="actions-card-preview__rating">5.0</span>
                     </div>
                  </div>

               </div>
            </div>
         </li>

         <li class="actions-card__item mix category-new">
            <div class="actions-card-preview">
               <a class="actions-card-preview__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="actions-card-preview__photo">
                  <div class="actions-card-preview__badges">
                     <span class="actions-card-preview__badge actions-card-preview__badge--new">новинка</span>
                     <!-- <span class="actions-card-preview__badge actions-card-preview__badge--hit">хит</span> -->
                  </div>
                  <div class="actions-card-preview__image">
                     <img class="actions-card-preview__img" src="images/product-100-100/salmon-100-100.jpg" alt="product" width="100" height="100">
                  </div>
               </div>
               <div class="actions-card-preview__content">
                  <h3 class="actions-card-preview__title">
                     Лосось, 1 кг
                  </h3>
                  <span class="actions-card-preview__condition  actions-card-preview__condition--lot">в наличии</span>
                  <!-- <span class="actions-card-preview__condition  actions-card-preview__condition--few">заканчивается</span> -->
                  <!-- <span class="actions-card-preview__badge actions-card-preview__badge--not">нет в наличии</span> -->
                  <div class="actions-card-preview__info">
                     <div class="action-card-preview__prices">
                        <span class="actions-card-preview__price actions-card-preview__price--new">999</span><span class="actions-card-preview__price actions-card-preview--rub-sup">₽</span>
                        <span class="actions-card-preview__price actions-card-preview__price--old">1199 ₽</span>
                     </div>
                     <div class="actions-card-preview__stars">
                        <span class="actions-card-preview__rating">4.5</span>
                     </div>
                  </div>

               </div>
            </div>
         </li>

         <li class="actions-card__item mix category-hits">
            <div class="actions-card-preview">
               <a class="actions-card-preview__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="actions-card-preview__photo">
                  <div class="actions-card-preview__badges">
                     <!-- <span class="actions-card-preview__badge actions-card-preview__badge--new">новинка</span> -->
                     <span class="actions-card-preview__badge actions-card-preview__badge--hit">хит</span>
                  </div>
                  <div class="actions-card-preview__image">
                     <img class="actions-card-preview__img" src="images/product-100-100/veg_juice-100-100.jpg" alt="product" width="100" height="100">
                  </div>
               </div>
               <div class="actions-card-preview__content">
                  <h3 class="actions-card-preview__title">
                     Сок Granini овощной 100%, 0.5л
                  </h3>
                  <!-- <span class="actions-card-preview__condition  actions-card-preview__condition--lot">в наличии</span> -->
                  <span class="actions-card-preview__condition  actions-card-preview__condition--few">заканчивается</span>
                  <!-- <span class="actions-card-preview__badge actions-card-preview__badge--not">нет в наличии</span> -->
                  <div class="actions-card-preview__info">
                     <div class="action-card-preview__prices">
                        <span class="actions-card-preview__price actions-card-preview__price--new">180</span><span class="actions-card-preview__price actions-card-preview--rub-sup">₽</span>
                        <span class="actions-card-preview__price actions-card-preview__price--old">230 ₽</span>
                     </div>
                     <div class="actions-card-preview__stars">
                        <span class="actions-card-preview__rating">4.9</span>
                     </div>
                  </div>

               </div>
            </div>
         </li>

         <li class="actions-card__item mix category-hits">
            <div class="actions-card-preview">
               <a class="actions-card-preview__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="actions-card-preview__photo">
                  <div class="actions-card-preview__badges">
                     <!-- <span class="actions-card-preview__badge actions-card-preview__badge--new">новинка</span> -->
                     <span class="actions-card-preview__badge actions-card-preview__badge--hit">хит</span>
                  </div>
                  <div class="actions-card-preview__image">
                     <img class="actions-card-preview__img" src="images/product-100-100/basket-100-100.jpg" alt="product" width="100" height="100">
                  </div>
               </div>
               <div class="actions-card-preview__content">
                  <h3 class="actions-card-preview__title">
                     Фруктовая корзина, 1 шт
                  </h3>
                  <span class="actions-card-preview__condition  actions-card-preview__condition--lot">в наличии</span>
                  <!-- <span class="actions-card-preview__condition  actions-card-preview__condition--few">заканчивается</span> -->
                  <!-- <span class="actions-card-preview__badge actions-card-preview__badge--not">нет в наличии</span> -->
                  <div class="actions-card-preview__info">
                     <div class="action-card-preview__prices">
                        <span class="actions-card-preview__price actions-card-preview__price--new">3990</span><span class="actions-card-preview__price actions-card-preview--rub-sup">₽</span>
                        <span class="actions-card-preview__price actions-card-preview__price--old">5990 ₽</span>
                     </div>
                     <div class="actions-card-preview__stars">
                        <span class="actions-card-preview__rating">4.8</span>
                     </div>
                  </div>

               </div>
            </div>
         </li>

         <li class="actions-card__item mix category-hits">
            <div class="actions-card-preview">
               <a class="actions-card-preview__link" href="#" aria-label="Перейти в карточку товара"></a>
               <div class="actions-card-preview__photo">
                  <div class="actions-card-preview__badges">
                     <!-- <span class="actions-card-preview__badge actions-card-preview__badge--new">новинка</span> -->
                     <span class="actions-card-preview__badge actions-card-preview__badge--hit">хит</span>
                  </div>
                  <div class="actions-card-preview__image">
                     <img class="actions-card-preview__img" src="images/product-100-100/pork-100-100.jpg" alt="product" width="100" height="100">
                  </div>
               </div>
               <div class="actions-card-preview__content">
                  <h3 class="actions-card-preview__title">
                     Свинина мякоть, 1 кг
                  </h3>
                  <span class="actions-card-preview__condition  actions-card-preview__condition--lot">в наличии</span>
                  <!-- <span class="actions-card-preview__condition  actions-card-preview__condition--few">заканчивается</span> -->
                  <!-- <span class="actions-card-preview__badge actions-card-preview__badge--not">нет в наличии</span> -->
                  <div class="actions-card-preview__info">
                     <div class="action-card-preview__prices">
                        <span class="actions-card-preview__price actions-card-preview__price--new">499</span><span class="actions-card-preview__price actions-card-preview--rub-sup">₽</span>
                        <span class="actions-card-preview__price actions-card-preview__price--old">599 ₽</span>
                     </div>
                     <div class="actions-card-preview__stars">
                        <span class="actions-card-preview__rating">4.6</span>
                     </div>
                  </div>

               </div>
            </div>
         </li>
      </ul>







      <div class="promo-actions__btn">
         <a class="promo-actions__more" href="#">Показать ещё</a>
      </div>






   </div>


</section>